#leftrightnav #aboutright h6{
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	line-height: 50px;
	letter-spacing: 0px;
	color: #1a1a1a;
	
}
#leftrightnav #aboutright p{
	
		font-size: 14px;
		letter-spacing: 0px;
		color: #818388;
		line-height: 28px;
	
}
#leftrightnav #aboutright .aboutp2{
	margin-top:54px ;
	margin-bottom:50px ;
}
#leftrightnav #aboutright {
	margin-bottom: 30px;
}